In [1]:
import pandas as pd

# Creating Data
Pandas has two core objects: 
1) DataFrame
2) Series

# DataFrame
A DataFrame is a table.

In [3]:
data = pd.DataFrame({'Yes':[30, 12], 'No':[34, 66]})
data

   Yes  No
0   30  34
1   12  66

# Indexing the  DataFrame
Use index key word in the DataFrame

In [5]:
indx = pd.DataFrame({'h': ['I like it.', 'what'], 'y':[112, 45]}, 
       index = ['A', 'B'])
indx

            h    y
A  I like it.  112
B        what   45

# Series
Sequence of data value

In [8]:
pd.Series({1:[1, 2, 4, 7, 89], 2:[23, 45, 67, 87]})

1    [1, 2, 4, 7, 89]
2    [23, 45, 67, 87]
dtype: object

# Naming the series

In [9]:
pd.Series({1:[1, 2, 4, 7, 89], 2:[23, 45, 67, 87]}, name = 'Practice')

1    [1, 2, 4, 7, 89]
2    [23, 45, 67, 87]
Name: Practice, dtype: object